*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    height: 56px;
    background-color: #2874f0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-head{
    display: flex;
    align-items: center;
}
.flip img{
    height: 20px;
    width: 75px;
}

.logo p{
    color: #fff;
    font-style: italic;
    font-size: 11px;
    margin-top: -5px;
}
.logo p span{
    color: #ffe500;
    font-weight: 500;
}
.plus img{
    width: 10px;
    height: 10px;
    margin: -3px 0px 0px 1px;
}
.plus{
    display: flex;
}
.itms{
    width: 520px;
    height: 36px;
    padding: 0px 16px;
    border-style: none;
    outline: none;
}
.logo{
    margin-right: 13px;
}
.search-itms i{
    height: 20px;
    width: 20px;
    padding: 8px 12px 8px 12px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #fff;
    margin-left: -4px;
    cursor: pointer;
}
.search-itms{
    display: flex;
    align-items: center;
}

.icon{
    height: 36px;
    width: 44px;
    /* padding: 4px 12px 0px 8px; */
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #fff;
    margin-left: -4px;
    cursor: pointer;
}
.login{
    height: 30px;
    padding: 5px 40px;
    background-color: #fff;
    margin-left: 50px;
    color: #2874f0;
    font-weight: 600;
}
.heada{
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
}
.heada i{
    margin-right: 4px;
}
.sec1{
    height: 112px;
    display: flex;
}
.sec-size{
    height: 95px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-size img{
    height: 80px;
    width: 70px;
}
.sec-size h5{
    text-align: center;
    margin-top: 5px;
}
.sec1-contents{
    display: flex;
    margin: 0px auto;
}
.sec2 img{
    height: 280px;
}
.sec3{
    height: 341px;
    display: flex;
}
.s3-items{
    height: 340px;
    width: 230px;
    text-align: center;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s3-txt{
    line-height: 25px;
    justify-content: flex-end;
}
.s3-txt p{
    font-size: 14px;
}
.s3-txt h6{
    font-weight: normal;
    color: #388e3c;
    font-size: 16px;
}
.s3-items img{
    width: 160px;
    margin-bottom: 15px;
    max-height: 200px;
}
.bg{
    background: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-position: 0px bottom;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.bg2{
    background: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/898b527fdf29b17a.jpg?q=90);
    background-position: 0px bottom;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.bg p{
    font-size: 32px;
    text-align: center;
}
.bg h5{
    text-align: center;
    padding:10px 20px;
    width: 95px;
    height: 38px;
    background-color: #2874f0;
    color: #fff;
    font-size: 11px;
    margin: 20px auto 0px;
}
.end{
    height: 348px;
    background-color: #172337;
}
.end-cont{
    height: 233px;
    margin: 0px 60px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.foot-col{
    width: 245px;
    height: 193px;
}
.foot-col p{
    font-size: 11px;
    color: #fff;
}
.foot-col2 p{
    line-height: 25px;
}
.foot-col h5{
    color: #878787;
    margin-bottom: 10px;
}
.no{
    color: #2874f0;
}
.foo p{
    line-height: 19px;
}
.lftline{
    padding-left: 25px;
    border-left: #878787 solid;
    border-width: .5px;
}
.btm-lst ul{
    display: flex;
}
.btm-lst ul li{
    margin-right: 90px;
    color: #fff;
    list-style: none;
    font-size: 14px;
}
.btm-lst{
    height: 72px;
    padding: 25px 0px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: center;
    border-top: #878787 solid;
    border-width: .5px;
}
.btm-lst li img{
    margin-right: 5px;
}